.thumbnail-card {
   flex: 0 0 calc(25% - 16px);
  max-width: calc(25% - 16px);
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(210, 247, 247);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.thumbnail-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail-card img {
    max-width: 100%;
    border-radius: 4px;
}

.list-card {
   flex: 0 0 calc(25% - 16px);
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(210, 247, 247);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-card img {
    max-width: 100px;
    border-radius: 4px;
    margin-right: 16px;
}

.detail-card {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.detail-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
}

.detail-card-comments {
    margin-top: 16px;
}